# =========================
# Dependencies
# =========================
Backend/node_modules/
Frontend/node_modules/

# =========================
# Environment Variables
# =========================
Backend/config/config.env
Backend/.env
Frontend/.env
Frontend/.env.local

# =========================
# Build Files
# =========================
Frontend/dist/
Backend/dist/

# =========================
# Temporary Files
# =========================
Backend/temp/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Optional (Testing Files)
# =========================
cookies.txt
test.js